# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Logs
*.log

# Système
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dépendances
node_modules/
package-lock.json
yarn.lock

# Cache
.cache/
tmp/
temp/

.users.yml
git rm --cached admin/config.yml
